{% extends "layout.html" %}

{% block leftSideContent %}
<div id="quickNavCard" class="card">
    <h2>Quick Navigation</h2>
        {% for park in webApp.parksBySearch(q) %}
        <div id ="quickNavLinkCard" class="card">
        <a href="{{ url_for('park', parkCode=park['parkCode'])}}">{{ park['name'] }}</a>
        </div>
        {% endfor %}
</div>
{% endblock leftSideContent %}

{% block centerContent %}
<div id="titleCard" class="card">
    <h2>Parks for "{{ q }}"</h2>
    <p>Total Results: {{webApp.parksBySearch(q)|length}}</p>
</div>
{% for park in webApp.parksBySearch(q) %}
<a href="{{ url_for('park', parkCode=park['parkCode'])}}">
    <div id="resultsCard" class="card">
        <div id="resultsCardContent">
            <div id="resultsCardText">
            <h3>{{ park['fullName'] }}</h3>
            <p>{{ park['description'] }}</p>
            <br>
            </div>
            {% if park['images']|length > 0 %}
                <img src="{{ park['images'][0]['url']}}">
            {% endif %}
        </div>
    </div>
</a>
{% endfor %}
{% endblock centerContent %}
