body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url('\\static\\images\\national-park.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Varela Round', sans-serif;
}

nav {
    display: inline;
    position: static;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: right;
}

#logo {
    float: left;
    color: white;
    font-size: 1.5em;
    margin-left: 0.5em;
    margin-top: 0.5em;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
  }

#stateLookup select {
    margin-bottom: 2em;
    width: 100%;
    border: none;
    border-radius: 1em;
    font-size: 1em;
    padding: .4em;
    text-align: center;
    color:#767676;
    font-family: 'Varela Round', sans-serif !important;
}

#stateLookup select:focus {
    border-radius: 1em 1em 0em 0em;
}

#searchCard {
    width: 60%;
    background-color: rgba(35, 40, 40, 0.8);
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#searchCard h1 {
    margin-bottom: 1em;
    color: #F6F9E7;
}

#searchForm {
    width: 100%;
}

#homeText input[type=text] {
    border: none;
    text-align: center;
    width: 75%;
    font-size: 1em;
    padding: .4em;
    border-radius: 1em 1em 1em 1em;
    float: left;
    margin-bottom: 2em;
    font-family: 'Varela Round', sans-serif !important
}
  
#homeText form button {
    float: right;
    width: 20%;
    font-size: 1em;
    padding: .4em;
    border: none;
    border-radius: 1em 1em 1em 1em;
    margin-bottom: 2em;
    font-family: 'Varela Round', sans-serif !important
}

#homeText dd {
    margin-left: 0em;
}

a {
    color: white;
}

.card {
    border-radius: 1em;
    padding: 20px;
    margin: 1em; 
}

.leftSideContent {
    width: 20%; 
    float: left;
}

.leftSideContent a {
    display: block;
}

#quickNavCard {
    background-color: rgba(35, 40, 40, 0.95); 
    text-align: center;
}

#quickNavCard h2 {
    color: white;
}

#quickNavCard a:link {
    color: white
}


#quickNavLinkCard:hover {
    background-color: rgba(32, 55, 52, 1);
    transform: scale(1.1,1.1)
}

.centerContent {
    width: 80%; 
    float: left;
}

.centerContent a {
    display: block;
    text-decoration: none;
}

#titleCard {
    background-color: rgba(35, 40, 40, 0.95);
    color: white;
    font-weight: bold;
}

#resultsCard {
    background-color: rgba(35, 40, 40, 0.95);
    overflow: hidden;
    min-height: 1px;
    display: block; 
}

#resultsCard a {
    color: white
}

#resultsCard img {
    width: 30%;
    height: 80%;
    float: right;
    border-radius: 1em;
}

#resultsCardContent {
    display: inline;
}

#resultsCardText {
    float: left;
    width: 65%

}

#resultsCard:hover {
    background-color: rgba(32, 55, 52, 1);
    transform: scale(1.01,1.01)
}

#parkCard {
    background-color: rgba(35, 40, 40, 0.95);
    color: white;
    display: block;
    overflow: hidden;
    min-height: 1px;
}

#parkCardContent {
    display: block;
}

#parkContentHeader {
    overflow: hidden;
    min-height: 1px;
    margin-bottom: 2em;

}

#headerText {
    width: 55%;
    height: 100%;
    float: left;
}

#headerTextLinks {
    margin-top: 4em;
}

#headerTextLinks a {
    background-color: #5D8B7B;
    margin: 0.1em !important;
    text-decoration: none;
    border-radius: 1.5em !important;

}

#headerTextLinks a:hover {
    background-color: green;
    transform: scale(1.4,1.4);
}

#headerImg img {
    width: 40%;
    height: 80%;
    float: right;
    border-radius: 1em;
}

#alertCard {
    background-color: #333333;
}

#alertCard h3 {
    text-align: center;
}

.generalCard {
    background-color: rgba(35, 40, 40, 0.95);
    color: white;
}

.specificCard {
    background-color: #203734;
}

#campgroundButtonAttributes {
    display: inline;
}

#amenities {
    display: none;
}

#accessibility {
    display: none;
}

#fees {
    display: none;
}