body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: right;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
  }

#homeText {
    text-align: center;
}

#homeText select {
    text-align: center;
}

#homeText dd {
    margin-left: 0px;
}

#homeText input[type=text] {
    text-align: center;
}
  
#homeText form button {
    display: inline-block;
}


.leftSideContent {
    width: 20%; 
    float: left;
}

.centerContent {
    width: 60%; 
    float: left;
}

.rightSideContent {
    width: 20%; 
    float: left;
}