{% extends "layout.html" %}
{% block content %}
<div class="generalCard card">
    <h1>Articles for {{ parkname }} </h1>
    <p>Total: {{ articles|length }}</p>
    <p>*Please note that the NPS API does not provide full article information. Clicking on an article will redirect you to the official NPS website.</p>
    <div id="backLink">
    <a href="javascript:history.back()" class="card">Back to {{ parkname }} Page</a>
    </div> 
    <div id="articles">
        {% for article in articles %}
        <a href="{{ article['url'] }}">
        <div id="articleCard" class="card">
            {% if article['listingimage']['url'] %}
                <div id="articleImg">
                    <img src="{{ article['listingimage']['url'] }}">
                </div>
            {% else %}
                <div id="articleImgNotFound">
                    <img src="/static/images/NPSLogo.png">
                </div>
            {% endif %}
            <h3>{{ article['title'] }}</h3>
            <div id="articleDesOverlay">
                <p>{{ article['listingdescription'] }}</p>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}