{% extends "layout.html" %}
{% block leftSideContent %}
<div id="quickNavCard" class="card">
    <h2>Quick Navigation</h2>
        {% for campground in campgrounds %}
        <a href="#{{ campground['name'] }}">
        <div id ="quickNavLinkCard" class="card">
        {{ campground['name'] }}
        </div>
        </a>
        {% endfor %}
</div>
{% endblock leftSideContent %}
{% block centerContent %}
<div class="generalCard card">
    <h1>Campgrounds in {{ parkname }}</h1>
    <p>Total: {{ campgrounds|length }}</p>
    <div id="backLink">
    <a href="javascript:history.back()" class="card">Back to {{ parkname }} Page</a>
    </div> 
    {% for campground in campgrounds %}
        <div class="specificCard2 card">
            <h2 id="{{ campground['name'] }}">{{ campground['name'] }}</h2>
            <p>{{ campground['description'] }}</p>
            <div id="campContent">
                <div class="attribute">
                <div id="amenities">
                <h4>Amenities</h4>
                    <p>Recycling Collection: {{ campground['amenities']['trashrecyclingcollection'] }}</p>
                    {% if campground['amenities']['toilets'] != [] %}
                        <p>Toilets: {{ campground['amenities']['toilets'][0] }}</p>
                    {% endif %}
                    <p>Internet Access: {{ campground['amenities']['internetconnectivity'] }}</p>
                    {% if campground['amenities']['showers'] != [] %}
                        <p>Showers: {{ campground['amenities']['showers'][0] }}</p>
                    {% endif %}
                    {% if campground['amenities']['cellphonereception'] != "" %}
                        <p>Cellular Reception: {{ campground['amenities']['cellphonereception'] }}</p>
                    {% else %}
                        <p>Cellular Receiption: None</p>
                    {% endif %}
                    <p>Amphitheater: {{ campground['amenities']['amphitheater'] }}</p>
                    <p>Dumpstation: {{ campground['amenities']['dumpstation'] }}</p>
                    <p>Camp Store: {{ campground['amenities']['campstore'] }}</p>
                    <p>Host on Site: {{ campground['amenities']['stafforvolunteerhostonsite'] }}</p>
                    {% if campground['amenities']['potablewater'] != [] %}
                        <p>Drinking Water: {{ campground['amenities']['potablewater'][0] }}</p>
                    {% endif %}
                    <p>Ice Available for Sale: {{ campground['amenities']['iceavailableforsale'] }}</p>
                    <p>Fire Wood for Sale: {{ campground['amenities']['firewoodforsale'] }}</p>
                    <p>Ampitheater: {{ campground['amenities']['ampitheater'] }}</p>
                    <p>Food Storage Lockers: {{ campground['amenities']['foodstoragelockers'] }}</p>
                </div>
                </div>
                <div class="attribute">
                <div id="accessibility">
                    <h4>Accessibility</h4>
                    <p>Wheelchair Access: {{ campground['accessibility']['wheelchairaccess'] }}</p>
                    <p>Internet Info: {{ campground['accessibility']['internetinfo'] }}</p>
                    <p>Trailer and RV Info: {{ campground['accessibility']['rvinfo'] }}</p>
                    <p>Trailer Allowed: {{ campground['accessibility']['trailerallowed'] }}</p>
                    <p>Trailer Max Length: {{ campground['accessibility']['trailermaxlength'] }}</p>
                    <p>RV Allowed: {{ campground['accessibility']['rvallowed'] }}</p>
                    <p>RV Max Length: {{ campground['accessibility']['rvmaxlength'] }}</p>
                    <p>Cellphone Info: {{ campground['accessibility']['cellphoneinfo'] }}</p>
                    <p>Fire Stove Policy: {{ campground['accessibility']['firestovepolicy'] }}</p>
                    <p>Additional Info: {{ campground['accessibility']['additionalinfo'] }}</p>
                    <p>ADA Info: {{ campground['accessibility']['adainfo'] }}</p>
                    {% if campground['accessibility']['accessroads'] != [] %}
                        <p>Access Roads: {{ campground['accessibility']['accessroads'][0] }}</p>
                    {% endif %}
                    {% if campground['accessibility']['classifications'] != [] %}
                        <p>Classifications: {{ campground['accessibility']['classifications'][0] }}</p>
                    {% endif %}
                </div>
                </div>
                <div class="attribute">
                {% if "fees" in campground.keys() %}
                <div id="fees">
                    <h4>Fees</h4>
                    {% for fee in campground['fees'] %}
                    <h5>{{ fee['title'] }}</h5>
                    <p>{{ fee['cost'] }}</p>
                    <p>{{ fee['description'] }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
</div>
{% endblock centerContent %}