{% extends "layout.html" %}
{% block content %}

<div id="homeText">
    <div id="searchCard" class="card">
    <h1>Explore America's Wonders!</h1>
        <div id="stateLookup">
            <select onChange="window.location.href=this.value">
                    <option value=""disabled selected hidden>Find by State</option>
                    <option value="{{ url_for('results', search='al')}}">Alabama</option>
                    <option value="{{ url_for('results', search='ak')}}">Alaska</option>
                    <option value="{{ url_for('results', search='as')}}">American Samoa</option>
                    <option value="{{ url_for('results', search='az')}}">Arizona</option>
                    <option value="{{ url_for('results', search='ar')}}">Arkansas</option>
                    <option value="{{ url_for('results', search='ca')}}">California</option>
                    <option value="{{ url_for('results', search='co')}}">Colorado</option>
                    <option value="{{ url_for('results', search='ct')}}">Connecticut</option>
                    <option value="{{ url_for('results', search='de')}}">Delaware</option>
                    <option value="{{ url_for('results', search='dc')}}">District of Columbia</option>
                    <option value="{{ url_for('results', search='fl')}}">Florida</option>
                    <option value="{{ url_for('results', search='ga')}}">Georgia</option>
                    <option value="{{ url_for('results', search='gu')}}">Guam</option>
                    <option value="{{ url_for('results', search='hi')}}">Hawaii</option>
                    <option value="{{ url_for('results', search='id')}}">Idaho</option>
                    <option value="{{ url_for('results', search='il')}}">Illinois</option>
                    <option value="{{ url_for('results', search='in')}}">Indiana</option>
                    <option value="{{ url_for('results', search='ia')}}">Iowa</option>
                    <option value="{{ url_for('results', search='ka')}}">Kansas</option>
                    <option value="{{ url_for('results', search='ky')}}">Kentucky</option>
                    <option value="{{ url_for('results', search='la')}}">Louisiana</option>
                    <option value="{{ url_for('results', search='me')}}">Maine</option>
                    <option value="{{ url_for('results', search='md')}}">Maryland</option>
                    <option value="{{ url_for('results', search='ma')}}">Massachusetts</option>
                    <option value="{{ url_for('results', search='mi')}}">Michigan</option>
                    <option value="{{ url_for('results', search='mn')}}">Minnesota</option>
                    <option value="{{ url_for('results', search='ms')}}">Mississippi</option>
                    <option value="{{ url_for('results', search='mo')}}">Missouri</option>
                    <option value="{{ url_for('results', search='mt')}}">Montana</option>
                    <option value="{{ url_for('results', search='ne')}}">Nebraska</option>
                    <option value="{{ url_for('results', search='nv')}}">Nevada</option>
                    <option value="{{ url_for('results', search='nh')}}">New Hampshire</option>
                    <option value="{{ url_for('results', search='nj')}}">New Jersey</option>
                    <option value="{{ url_for('results', search='nm')}}">New Mexico</option>
                    <option value="{{ url_for('results', search='ny')}}">New York</option>
                    <option value="{{ url_for('results', search='nc')}}">North Carolina</option>
                    <option value="{{ url_for('results', search='nd')}}">North Dakota</option>
                    <option value="{{ url_for('results', search='mp')}}">Northern Mariana Islands</option>
                    <option value="{{ url_for('results', search='oh')}}">Ohio</option>
                    <option value="{{ url_for('results', search='ok')}}">Oklahoma</option>
                    <option value="{{ url_for('results', search='or')}}">Oregon</option>
                    <option value="{{ url_for('results', search='pa')}}">Pennsylvania</option>
                    <option value="{{ url_for('results', search='pr')}}">Puerto Rico</option>
                    <option value="{{ url_for('results', search='ri')}}">Rhode Island</option>
                    <option value="{{ url_for('results', search='sc')}}">South Carolina</option>
                    <option value="{{ url_for('results', search='sd')}}">South Dakota</option>
                    <option value="{{ url_for('results', search='tn')}}">Tennessee</option>
                    <option value="{{ url_for('results', search='tx')}}">Texas</option>
                    <option value="{{ url_for('results', search='ut')}}">Utah</option>
                    <option value="{{ url_for('results', search='vt')}}">Vermont</option>
                    <option value="{{ url_for('results', search='vi')}}">Virgin Islands</option>
                    <option value="{{ url_for('results', search='va')}}">Virginia</option>
                    <option value="{{ url_for('results', search='wa')}}">Washington</option>
                    <option value="{{ url_for('results', search='wv')}}">West Virginia</option>
                    <option value="{{ url_for('results', search='wi')}}">Wisconsin</option>
                    <option value="{{ url_for('results', search='wy')}}">Wyoming</option>
            </select>
        </div>

        {% from "_formhelpers.html" import render_field %}
        <div id="searchForm">
            <form method=post font-family= 'Varela Round', sans-serif;>
                <button type=submit>Explore</button>
                {{ render_field(form.search, placeholder="Enter Park Here", id="searchStateBar") }}
            </form>
        </div>
    </div>
</div>

{% endblock content %}
