<!DOCTYPE html>
<html>
<head>
    <title>NPS - Info</title>
    
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
    <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<!-- Navigation Bar-->
<nav>
    <ul>
        <a href="/home"><li id="logo">National Park Service</li></a>
        <li><a href="/home">Home</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
    </ul>
</nav>


{% block content %}{% endblock %}

<div class="leftSideContent">
    {% block leftSideContent %}{% endblock %}
</div>

<div class="centerContent">
    {% block centerContent %}{% endblock %}
</div>

<script src="{{url_for('static', filename='app.js')}}"></script>
</body>
</html>