<!DOCTYPE html>
<html>
<head>
    <title>NPS - Info</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
</head>

<body>
<!-- Navigation Bar-->
<nav>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
    </ul>
</nav>
<div class="leftSideContent">
<p> </p>
{% block leftSideContent %}{% endblock %}
</div>
<div class="centerContent">
<p> </p>
{% block centerContent %}{% endblock %}
</div>
<div class="rightSideContent">
<p> </p>
{% block rightSideContent %}{% endblock %}
</div>
</body>
</html>