{% extends "layout.html" %}
{% block content %}
<div id="parkCard" class="card">
    <div id="parkCardContent">
        <div id="parkContentHeader">
            <div id="headerText">
                <h1>{{ park['name'] }}</h1>
                <p><i>{{ park['designation'] }}</i></p>
                <p>{{ park['description'] }}</p>
                <div id="headerTextLinks">
                <a href="{{ url_for('articles', parkCode = park['parkCode']) }}" class="card">Articles</a>
                <a href="{{ url_for('campgrounds', parkCode = park['parkCode']) }}" class="card">Campgrounds</a>
                <a href="{{ url_for('events', parkCode = park['parkCode']) }}" class="card">Events</a>
                <a href="{{ url_for('news', parkCode = park['parkCode']) }}" class="card">News</a>
                <a href="{{ url_for('visitorcenters', parkCode = park['parkCode']) }}" class="card">Visitor Centers</a>
                </div>
            </div>
            <div id="headerImg">
                {% if park['images']|length > 0 %}
                    <img src="{{ park['images'][0]['url'] }}">
                {% endif %}
            </div>
        </div>

    {% if alerts|length > 0 %}
    <div id="alertCard" class="card">
        <h3>Alerts In Effect</h3>
        {% for alert in alerts %}
            <h4>{{ alert['title'] }}</h4>
            <p>{{ alert['description'] }}</p>
        {% endfor %}
    </div>
    {% endif %}  

    <h3>Directions</h3>
    <p>{{ park['directionsInfo']}}</p>

    <h3>Weather Conditions</h3>
    <p>{{ park['weatherInfo'] }}</p>
    
    </div>
</div>
{% endblock %}